.formControl.error input,
.formControl.error textarea {
  border: solid red 1px;
}

.formControl.error span {
  color: rgb(59, 36, 229);
}

.formSummaryError {
  border: solid rgb(169, 36, 36) 1px;
  padding: 5px;
  color: red;
}
