.header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.logo {
  width: 70px;
  margin-right: 20px;
}

.titleBlock {
  margin-right: 740px;
  color: rgb(4, 41, 91);
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.loginBlock {
  box-sizing: border-box;
  display: flex;
}

.userName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: rgb(4, 41, 91);
}

.buttonLogout {
  align-self: center;
  margin-right: 20px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  padding: 8px 12px;
  border-radius: 2rem;
  box-shadow: 6px 3px 5px rgb(4, 41, 91);
  border: 2px solid rgb(3, 91, 223);
  background-color: rgb(3, 91, 223);
  color: #fff;
  font-size: 14px;
}

.buttonLogout:hover {
  box-shadow: 4px 4px 5px rgb(4, 41, 91);
  background-color: #fff;
  color: rgb(3, 91, 223);
}

.buttonLogout:active {
  box-shadow: none;
  transform: translate(0, 0.25em);
  background-color: #fff;
  color: rgb(3, 91, 223);
}

.login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  padding: 8px 12px;
  box-sizing: border-box;
  font-family: inherit;
  padding: 8px 16px;
  border-radius: 2rem;
  box-shadow: shadow(low);
  border: 2px solid rgb(3, 91, 223);
  background-color: #fff;
  color: rgb(3, 91, 223);
  font-size: 14px;
  text-decoration: none;
  box-shadow: 6px 3px 5px rgb(4, 41, 91);
}

.login:hover {
  box-shadow: 4px 4px 5px rgb(255, 255, 255);
  background-color: rgb(3, 91, 223);
  color: #fff;
  box-shadow: 4px 4px 5px rgb(4, 41, 91);
}

.login:active {
  box-shadow: none;
  transform: translate(0, 0.25em);
  background-color: #fff;
  color: rgb(3, 91, 223);
}
