.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.dialogsItems {
  padding: 15px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-end; */
  padding: 15px;
  background: rgb(217, 217, 217);
}
